/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #009c3b, #ffdf00, #002776);
    color: #fff;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(135deg, #009c3b, #ffdf00, #002776);
    }
    100% {
        background: linear-gradient(135deg, #002776, #ffdf00, #009c3b);
    }
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    margin: 0;
    animation: fadeIn 2s ease-in-out;
}

header p {
    font-size: 1.2rem;
    margin: 0;
    animation: fadeIn 2.5s ease-in-out;
}

.about-me {
    text-align: center;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideIn 1.5s ease-in-out;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #009c3b;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.social-links {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideIn 2s ease-in-out;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.social-links li:hover {
    transform: translateX(10px);
}

.social-links a {
    text-decoration: none;
    color: #002776;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #009c3b;
}

.social-links i {
    margin-right: 10px;
    font-size: 1.5rem;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}